<% if current_user == @user.model then %>
  <%=render :partial => '/users/manage' %>
<% end %>

<article id="<%=dom_id(@user)%>" class="user">

  <h1><img src="<%=@user.avatar%>" alt="<%=@user%>"><%=@user%></h1>
  <% if current_user == @user.model then %>
    <%=render :partial => '/users/welcome' if @user.pomodoros.count == 0 %>
  <% end %>

  <%= render PomodoroDecorator.decorate(@user.pomodoros.order('created_at desc')) %>

</article>