<%= render :partial => '/organizations/form' %>

<h2>Members</h2>
<ul>
<% @organization.memberships.each{|mship| %>
  <li><%=mship.user.to_s%> &mdash; <%=mship.friendly_status%></li>
<% } %>
</ul>

<h2>Invite Member</h2>
<%=simple_form_for [@organization,@organization.memberships.build] do |f| %>

  <%=f.input :email %>

  <%=f.button :submit %>
<% end %>